*{

box-sizing:border-box;

}


body{

margin:0;

background:#050b12;

color:#fff;

font-family:
Arial,
"Microsoft YaHei";

}



.game{

height:100vh;

display:flex;

flex-direction:column;

}



.topbar{

height:65px;

background:
linear-gradient(
90deg,
#061b2c,
#0b3448
);


display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;


font-size:24px;

border-bottom:
2px solid #00b7ff;


}



.resources{

font-size:18px;

}



.main{

flex:1;

display:flex;

}



.side{

width:180px;

background:#08131d;

padding:20px;


}



.side button{


width:140px;

height:45px;

margin-bottom:15px;


background:#102b3d;

color:white;

border:

1px solid #087ca7;


cursor:pointer;

}



.battlefield{

flex:1;

}



.map{

height:100%;

background:

radial-gradient(
circle,
#17445c,
#02070c
);


display:flex;

justify-content:center;

align-items:center;

}



.mapTitle{

position:absolute;

top:90px;

font-size:30px;

color:#00d9ff;

}



.placeholder{

font-size:40px;

opacity:.4;

}



.panel{

width:300px;

background:#08131d;

padding:20px;

border-left:

2px solid #007fa8;

}



.panel h2{

color:#00d9ff;

}
